<div class="login">
  <h2>Login to Your Account</h2>
  <p>Please enter your credentials to continue.</p>
  <form (submit)="handleSubmit($event)">
    Role: 
    <select>
        <option value="Admin">Admin</option>
        <option value="Staff">Staff</option>
    </select>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter username" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter password" />

    <button type="submit">Login</button>
  </form>
</div>